<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecimiento de Contraseña</title>
</head>
<body style="font-family: 'Arial', sans-serif; background-color: #f4f4f4; color: #333; margin: 0; padding: 0;">

    <div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #fff; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <p style="margin-bottom: 15px;">Hola {{ user.first_name }}</p>
        <p style="margin-bottom: 15px;">Recibiste este correo electrónico porque solicitaste un restablecimiento de contraseña para tu cuenta en nuestro sitio.</p>
        <p style="margin-bottom: 15px;">Por favor, sigue el enlace a continuación para restablecer tu contraseña:</p>
        <p style="margin-bottom: 15px;"><a href="{{ reset_url }}" style="color: #007bff; text-decoration: none;">Restablecer Contraseña</a></p>
        <p style="margin-bottom: 15px;">Si no solicitaste este restablecimiento, puedes ignorar este correo electrónico y tu contraseña seguirá siendo la misma.</p>
        <p>Gracias,</p>
        <p>El equipo de nuestro sitio</p>
    </div>

</body>
</html>